@font-face {
  font-family: Abel;
  src: url("fonts/abel.woff2") format("woff2");
}

body {
  background-color: #565656;
  background-image: url("rede-2.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 54.615385%; /*  cor da rede: #db3656 */
			
  font-family: Abel, sans-serif;
  color: #ffffff;
  text-align: center;
}

#menu-inicio {
  padding-top: 15vh;
}

#menu-inicio h1, #menu-inicio h2 {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.67em 0 0.67em 0;
}

#menu-inicio ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu-inicio > ul {
  display: flex;
  flex-wrap: wrap;
}

#menu-inicio > ul > div:nth-of-type(1) {
  flex: 1;
}

#menu-inicio > ul > div:nth-of-type(2) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex: 1;
}

#menu-inicio > ul > div > li {
  flex-grow: 0;
  padding: 2vw;
  /*border: 1px dashed red;*/
}

#menu-inicio > ul > div {
  flex-grow: 1;
}

#menu-inicio > ul > div > li > ul {
  display: grid;
  gap: 2vw;
}

#menu-inicio > ul > div:nth-of-type(1) > li > ul {
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

#menu-inicio > ul > div:nth-of-type(2) > li > ul {
  grid-template: 1fr 1fr 1fr / 1fr;
}

#menu-inicio > ul > div > li > ul > li {
  display: block;
  background-color: crimson;
  background: linear-gradient(45deg, rgba(220,20,60,1) 0%, rgba(219,54,86,1) 100%);
}

li {
  line-height: 3vh;
  padding: 1em;
  border-radius: 1vh;
}

.item figure {
  margin: 0;
}

.item figure img {
  height: 5em;
  display: block;
  margin: 0 auto;
}

.item figcaption {
  height: 2em;
  line-height: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#menu-inicio > ul > div > li > ul > li {
  background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)
}

#menu-inicio > ul > div > li > ul > li {
  transition: 0.5s;
  background-size: 200% auto;            
}

#menu-inicio > ul > div > li > ul > li:hover {
  background-position: right center; /* change the direction of the change here */
}