@charset "UTF-8";

body {
	background-color: rgb(105,105,173);
	color: #FFFFFF;
	font: normal 12pt Arial;
}

h1,h2 {
	color: rgb(255,212,22);
}

div.botoes {
	font-style: normal;
	font-family: Helvetica;
	font-size: 9pt;
	background-color: rgb(38, 121, 0);
	border-color: gray;
	color: white;
	border-width: 2px;
	border-style: solid;
	text-align: center;
	float: left;
	width: 30%;
	padding: 1px;
	margin: 0.5%;
}

p {
	margin: 0px;
}